@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT sans', sans-serif;
    padding: 5px
}

.landing-section {
    margin: 86px;
}
h1 {
    color: hsl(300, 43%, 22%);
    margin-top: 0;
}

p {
    color: #937b92;
}

.header {
    display: flex;
    justify-content: space-between;

}


.text {
    width: 44%;
    font-size: 33px;
}
.text p {
    font-size: 30px;
}

.rating {
    margin-left: 37px;
    justify-content: center;
}

.box-rating {
    background: #e9dde9;
   margin: 18px 0 15px ;
   padding: 0 30px;
   border-radius: 15px;
   color: #421841;
   justify-content: space-between;
   font-size: 18px;
   width: 413px;
   display: flex;
   height: 85px;
   align-items: center;

}

span {
    display: inline-block;
    justify-content: space-between;   
    margin-left: 11px;
}
  

  #rate {
    display: inline-block;
      margin-right: 12px;
      color: indigo
      
  }

  .p1 {
    color: #381737;
  }
 #box1{
    margin-left: 25px;
  
  }

  #box2{
    margin: 0 60px;
   
}

#box3{
    margin: 18px 100px ;
}

.content {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 400px;
    height: 280px;
    background-color: #502050;
    margin: 16px 0 16px 0;

    padding: 15px;
    border-radius: 15px;
    font-size: 19px;
    
}

.card:hover {
     transform: translate3D(0,10px,0) scale(1.03); 
     background-color:  #834980; ;
}


.footer {
    display: flex;
   justify-content: center;
}



#card2 {
    margin-top: 40px;
}

#card3 {
    margin-top: 70px;
}

.card .cloton {
    color: white;
    margin-top: -79px;
}
 h3{
     color: white;
     transform: translate(99px, -95px);
 }

 img {
     border-radius: 40px;
 }

 .status {
    transform: translate(99px, -116px);
    color: #ee68a5;
 }

@media (max-width: 800px) {

    .header {
       flex-direction: column;
       justify-content: flex-start;
    }

    .content {
        flex-direction: column;
        margin-top: 55px;
    }

    .landing-section {
        margin: 40px;
        justify-content: flex-start;
    }
     
     .box-rating {
        width: 100%;
        justify-content: center;
    }

    .rating, #box2, #box1, #box3{
        margin-left: 0;
    }

    .rating {
        height: 354px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .card {
        width:  100%;
    }

 .text {
        width: 100%; 
    }
    }
  